In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('finances.csv').dropna(subset=['date'])
df['notes'] = df['notes'].fillna('')
df['date'] = pd.to_datetime(df['date'])
df = df.set_index(df['date'])
df.sort_index(inplace=True)
#df = df[~df['notes'].str.contains('wedding')]
#df = df[~df['notes'].str.contains('per diem')]
#df = df[df['item'] != 'siding']
#df = df[df['item'] != 'new hvac system']
#df = df[df['notes'] != 'for siding']
df['cost'] = df['cost'].str.extract('([0-9,.]+)')
df['cost'] = df['cost'].str.replace(',','')
df['cost'] = -df['cost'].astype(float)
df['cost'] *= 2*(df['category'] != 'income') - 1
df['sum'] = df['cost'].cumsum()
df['month-year'] = df['date'].map(lambda t: t.strftime('%Y-%m'))
df['month'] = df['date'].map(lambda t: t.month)
df['year'] = df['date'].map(lambda t: t.year)

In [ ]:
df[(df['category'] == 'personal') & (df['notes'] == 'wedding')][['item','cost']]

In [ ]:
#df[(df['year'] == 2022) & (df['month'] == 5)].sort_values(by='cost',ascending=False)
#df.sort_values(by='cost')

In [ ]:
df.groupby('category')['cost'].sum()

In [ ]:
df[df['category'] == 'income'].groupby('location')['cost'].sum()

In [ ]:
df.groupby('year')[['cost']].sum()

In [ ]:
df[df['category'] != 'income'].groupby('category')[['cost']].sum().abs().plot.pie(y='cost')

In [ ]:
df.groupby('month-year')[['cost']].sum().mean()

In [ ]:
df.set_index('date')[['sum']].plot()